.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    /*ajustar todo en un mismo tamaño*/
}

.tw-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tw-followCard-info {
    display: flex;
    flex-direction: column;

}

.tw-followCard-infoUserName {
    opacity: .6;

}

.tw-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button {
    cursor: pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
}

.tw-followCard-text {
    display: block;
}

.tw-followCard-button.is-following {
    border: 1px solid turquoise;
    background: transparent;
    color: #fff;
    width: 140px;

}

/*para que cambie de color el boton al pasar el raton*/
.tw-followCard-button:hover {
    background-color: rgb(101, 154, 253);
    transition: .3s ease background-color;

}

.tw-followCard-button.is-following:hover {
    background: turquoise;
    transition: .3s ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
    display: block;
    color: #000;
}

.tw-followCard-stopFollow {

    display: none;

}